# SPDX-FileCopyrightText: 2023 Helge Eichhorn <git@helgeeichhorn.de>
# SPDX-License-Identifier: MPL-2.0
/target
/tools/*/target/
.venv/
.DS_Store
flamegraph.svg
.mise.local.toml
.codspeed/
.idea/
.claude/
