[package]
name = "lox-space"
version = "0.1.0"
edition = "2021"
license = "MPL-2.0"

[dependencies]
lox_core = { path = "crates/lox_core" }

[workspace]
members = [
    "crates/*"
]
exclude = [
    "tools/lox_gen"
]

