[workspace]
members = ["crates/*"]
exclude = ["tools/lox-gen"]
resolver = "2"

[workspace.package]
rust-version = "1.74"
edition = "2021"
license = "MPL-2.0"
authors = ["Helge Eichhorn and the lox-space contributors"]
repository = "https://github.com/lox-space/lox"

[workspace.dependencies]
lox-bodies = { path = "crates/lox-bodies", version = "0.1.0-alpha.1" }
lox-derive = { path = "crates/lox-derive", version = "0.1.0-alpha.0" }
lox-earth = { path = "crates/lox-earth", version = "0.1.0-alpha.1" }
lox-ephem = { path = "crates/lox-ephem", version = "0.1.0-alpha.1" }
lox-io = { path = "crates/lox-io", version = "0.1.0-alpha.1" }
lox-math = { path = "crates/lox-math", version = "0.1.0-alpha.2" }
lox-orbits = { path = "crates/lox-orbits", version = "0.1.0-alpha.2" }
lox-space = { path = "crates/lox-space", version = "0.1.0-alpha.3" }
lox-time = { path = "crates/lox-time", version = "0.1.0-alpha.1" }

csv = "1.3.0"
divan = "0.1.14"
dyn-clone = "1.0.17"
fast_polynomial = "0.1.0"
float_eq = "1.0.1"
glam = "0.28.0"
itertools = "0.13.0"
libm = "0.2.8"
nom = "7.1.3"
num = "0.4.1"
numpy = "0.22.1"
proptest = "1.4.0"
pyo3 = "0.22.6"
quick-xml = { version = "0.31.0", features = ["serde", "serialize"] }
regex = "1.10.4"
rstest = "0.21.0"
serde = { version = "1.0.199", features = ["derive"] }
serde-aux = "4.5.0"
serde_json = "1.0.113"
sgp4 = "2.2.0"
thiserror = "1.0"
