[workspace]
members = ["crates/*"]
exclude = ["tools/lox-gen"]
resolver = "2"

[workspace.package]
rust-version = "1.85"
edition = "2024"
license = "MPL-2.0"
authors = ["Helge Eichhorn and the lox-space contributors"]
repository = "https://github.com/lox-space/lox"

[workspace.dependencies]
lox-bodies = { path = "crates/lox-bodies", version = "0.1.0-alpha.9" }
lox-derive = { path = "crates/lox-derive", version = "0.1.0-alpha.4" }
lox-earth = { path = "crates/lox-earth", version = "0.1.0-alpha.11" }
lox-ephem = { path = "crates/lox-ephem", version = "0.1.0-alpha.6" }
lox-frames = { path = "crates/lox-frames", version = "0.1.0-alpha.2" }
lox-io = { path = "crates/lox-io", version = "0.1.0-alpha.7" }
lox-math = { path = "crates/lox-math", version = "0.1.0-alpha.7" }
lox-orbits = { path = "crates/lox-orbits", version = "0.1.0-alpha.19" }
lox-space = { path = "crates/lox-space", version = "0.1.0-alpha.26" }
lox-time = { path = "crates/lox-time", version = "0.1.0-alpha.9" }

csv = "1.3.1"
fast_polynomial = "0.3.0"
float_eq = "1.0.1"
glam = "0.30.6"
hashbrown = {version = "0.16.0", features = ["rayon"]}
itertools = "0.14.0"
libm = "0.2.15"
nom = "8.0.0"
num = "0.4.3"
num-derive = "0.4.2"
num-traits = "0.2.19"
numpy = "0.26.0"
proptest = "1.7.0"
pyo3 = {version = "0.26.0", features = ["hashbrown"]}
quick-xml = { version = "0.38.3", features = ["serde", "serialize"] }
rayon = "1.11.0"
regex = "1.11.2"
rstest = "0.26.1"
serde = { version = "1.0.225", features = ["derive"] }
serde-aux = "4.7.0"
serde_json = "1.0.145"
sgp4 = "2.3.0"
thiserror = "2.0.16"
