[workspace]
members = ["crates/*"]
exclude = ["tools/lox-gen"]
resolver = "2"

[workspace.package]
rust-version = "1.85"
edition = "2024"
license = "MPL-2.0"
authors = ["Helge Eichhorn and the lox-space contributors"]
repository = "https://github.com/lox-space/lox"

[workspace.dependencies]
lox-bodies = { path = "crates/lox-bodies", version = "0.1.0-alpha.9" }
lox-derive = { path = "crates/lox-derive", version = "0.1.0-alpha.4" }
lox-earth = { path = "crates/lox-earth", version = "0.1.0-alpha.10" }
lox-ephem = { path = "crates/lox-ephem", version = "0.1.0-alpha.6" }
lox-io = { path = "crates/lox-io", version = "0.1.0-alpha.7" }
lox-math = { path = "crates/lox-math", version = "0.1.0-alpha.7" }
lox-orbits = { path = "crates/lox-orbits", version = "0.1.0-alpha.17" }
lox-space = { path = "crates/lox-space", version = "0.1.0-alpha.23" }
lox-time = { path = "crates/lox-time", version = "0.1.0-alpha.8" }

csv = "1.3.0"
dyn-clone = "1.0.17"
fast_polynomial = "0.3.0"
float_eq = "1.0.1"
glam = "0.30.4"
hashbrown = {version = "0.15", features = ["rayon"]}
itertools = "0.14.0"
libm = "0.2.8"
nom = "7.1.3"
num = "0.4.1"
num-derive = "0.4.2"
num-traits = "0.2.19"
numpy = "0.25.0"
proptest = "1.4.0"
pyo3 = {version = "0.25.1", features = ["hashbrown"]}
quick-xml = { version = "0.31.0", features = ["serde", "serialize"] }
rayon = "1.10.0"
regex = "1.10.4"
rstest = "0.25.0"
serde = { version = "1.0.199", features = ["derive"] }
serde-aux = "4.5.0"
serde_json = "1.0.113"
sgp4 = "2.2.0"
thiserror = "2.0.3"
