# SPDX-FileCopyrightText: 2024 Helge Eichhorn <git@helgeeichhorn.de>
#
# SPDX-License-Identifier: MPL-2.0

name: CodSpeed

on:
  push:
    branches:
      - main # Run on pushes to the main branch
  pull_request: # Run on all pull requests

env:
  UV_PROJECT: crates/lox-space
  VIRTUAL_ENV: crates/lox-space/.venv

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Build Python wrapper
        uses: PyO3/maturin-action@v1
        with:
          # working-directory: ${{ env.UV_PROJECT }}
          command: develop
          args: --release --uv --manifest-path crates/lox-space/Cargo.toml
      - uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: uv run --directory "$UV_PROJECT" pytest --codspeed
          token: ${{ secrets.CODSPEED_TOKEN }} # Optional for public repositories
